* {
    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;
  }
  
body {
  scroll-behavior: smooth;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Verdana', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
  
header {
  background: #3e4554fa;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

:root {
  --background-color: #fff;
  --text-color: #1d1d1d;
}

.dark-theme {
  --background-color: #1d1d1d;
  --text-color: #e3e2e2;
  .social-media a img {
    filter: invert(1);
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%; 
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}

.nav-btn {
  border: #e3e2e2 0.5px solid;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #3e3e3e80;
  cursor: pointer;
}

.navbar .nav-links .nav-btn {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-btn.active {
  background-color: #5882d1;
  color: white;
  border: 1px solid #fff;
  box-shadow: 0 0 10px #5882d1;
}  

.navbar .nav-links .nav-btn:hover {
  color: #5882d1;
}

.hero-name, .myskills, .myprojects {
  font-size: 3rem;
  margin: 2rem 0;
  text-align: center;
}

.hero-name {
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem 0;
}

.hero{
  padding-top: 9rem;
  padding-bottom: 10rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.tagline {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  text-align: start;
}

.skills {
  padding: 10rem 2rem;
}

.projects {
  padding: 4rem 2rem;
  text-align: center;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  animation: fadeIn 1s ease-in;
}

.hero-text {
  flex: 1 1 400px;
  max-width: 600px;
}

.hero-text p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.6;
}

.hero-image img {
  width: 100%;
  max-width: 300px;
  border-radius: 12px;
  margin: 0 auto;
  transition: transform 0.4s ease;
}

.hero-image img:hover {
  transform: scale(1.05);
}

.social-links {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.social-links a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  border: 1px solid #555;
  border-radius: 8px;
  text-decoration: none;
  color: #e3e2e2;
  background-color: #6a6a6a;
  transition: background 0.3s, transform 0.3s;
}

.social-links a:hover {
  background-color: #333;
  transform: translateY(-2px);
}

.social-links img {
  width: 20px;
  height: 20px;
}

.skills-grid {
  color: #e3e2e2;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(5, 10rem);
  gap: 2rem;
  padding: 2.5rem;
}

.skills-grid div {
  display: flex;
  align-items: center;
  padding: 1rem; 
  border: 2px solid #e3e2e2;
  border-radius: 12px;
  background-color: #6a6a6a;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skills-grid div:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(88, 130, 209, 0.5);
}


.skills-grid img {
  margin: 0.5rem;
  width: 20px;
  height: 20px;
}

.myprojects {
  margin-bottom: 1rem;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2.5rem;
  justify-content: center;
  padding: 2rem;
}

.card {
  background-size: contain;
  background-position: center;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  position: relative;
}

.card1 {
  background-size: contain;
  background-position: center;
  margin: 2rem;
  margin-bottom: 0;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  position: relative;
}

.card:hover {
  transform: translateY(-5px);
  background-color: rgba(0, 0, 0, 0.7); 
}

.card h2, .card1 h2 {
  font-size: 2rem;
  position: relative;
  z-index: 1; 
  padding: 0 1rem;
}

.card p,
.btn {
  position: relative;
  z-index: 1; 
}

.card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  border-radius: 12px;
  z-index: 0;
}

.tag {
  display: inline-block;
  background-color: #682020;
  color: #ffffff;
  padding: 0.3rem 1rem;
  margin: 1.5rem;
  font-size: 0.85rem;
  border-radius: 8px;
}

.description {
  font-size: 1rem;
  margin: 0;
  padding: 1.5rem 0.5rem;
  background-color: #494949;
  border-radius: 8px;
}

.description1 {
  font-size: 1rem;
  margin: 0 25rem;
  padding: 1.5rem 0.5rem;
  background-color: #494949;
  border-radius: 8px;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  color: #ffffff;
  background-color: #1a4662;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #005fa3;
}

.contact {
  text-align: center;
  padding: 2rem;
  padding-top: 12rem;
  padding-bottom: 16rem;
}

.contact h2 {
  color: #cd9443;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.quote {
  font-style: italic;
  margin-bottom: 2rem;
}

.contact-details {
  margin: 2rem auto;
  font-size: 1rem;
}

.contact-details p {
  margin: 0.5rem 0;
}

.contact-details u {
  &:hover {
      color: #005fa3;
  }
  cursor: pointer;
}

.social-media {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
}

.social-media ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-media a img {
  width: 30px;
  height: 30px;
  margin: 0 1rem;
  font-size: 1.2rem;
  transition: color 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

@media (max-width: 768px) {
  .navbar .nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .hero-image {
    order: -1; 
  }

  .hero-name {
    font-size: 1.8rem;
    justify-content: center;
  }

  .tagline {
    font-size: 0.8rem;
    margin: 0.5rem 4rem;
    margin-left: 12rem;
  }

  .social-links {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    display: flex;
    flex-wrap: wrap;
  }

  .description1 {
    font-size: 1rem;
    margin: 0 2rem;
    padding: 1.5rem 0.5rem;
    background-color: #494949;
    border-radius: 8px;
  }

  .card h2 {
    font-size: 1.5rem;
  }

  .hero-image img {
    max-width: 250px;
  }

  .project-cards {
    display: flex;
    flex-direction: column;
  }

   .card {
    position: relative;
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: 480px) {
  header {
    padding-bottom: 0.5rem;
  }

  .hero {
    padding: 3rem 1rem;
    padding-top: 8rem;
    text-align: center;
  }

  .hero-name {
    font-size: 1.5rem;
    justify-content: center;
  }

  .tagline {
    font-size: 0.8rem;
    margin: 0.5rem;
  }

  .skills-grid {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr; 
    gap: 0.5rem;
    justify-content: center;
  }

  .skills-grid div {
    padding-left: 0.5rem;
  }

  .hero-image img {
    max-width: 180px; 
  }

  .social-links {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .navbar .nav-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
  }

  .nav-btn {
    border: #e3e2e2 1px solid;
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: #3e3e3e80;
    cursor: pointer;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 30px;
  }
  
  .slider::before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%; 
  }
  
  input:checked + .slider {
    background-color: #2196f3;
  }
  
  input:checked + .slider::before {
    transform: translateX(26px);
  }
}
